/*******************************************
/* FONTS
/*******************************************/

@import url('https://fonts.googleapis.com/css2?family=Montserrat:wght@500;700&display=swap');

@import url('https://fonts.googleapis.com/css2?family=Fraunces:opsz,wght@9..144,700&display=swap');

h1 {
  font-family: 'Fraunces', serif;
  font-size: 3.2em;
  color: hsl(212, 21%, 14%);
  line-height: -4em;
}

h2 {
  font-family: 'Montserrat', sans-serif;
  font-size: 1.1em;
  font-weight: 500;
  color: hsl(228, 12%, 52%);
  letter-spacing: 0.5em;
  text-transform: uppercase;
}

p {
  font-family: 'Montserrat', sans-serif;
  font-size: 1.4em;
  color: hsl(228, 12%, 52%);
}

.card-original-price {
  font-size: 1.3em;
}

.card-discounted-price {
  font-family: 'Fraunces', serif;
  font-size: 3.4em;
  color: hsl(158, 36%, 37%);
}

.card-button-text {
  font-family: 'Montserrat', sans-serif;
  font-size: 1.4em;
  font-weight: 500;
  color: hsl(0, 0%, 100%);
}


/*******************************************
/* MOBILE STYLES
/*******************************************/
@media only screen and (max-device-width: 768px) {
  h1 {
    font-size: 2.9em;
  }

  h2 {
    font-size: 1em;
  }

  .card-discounted-price {
    font-size: 3em;
  }

}